@page
@using System.Globalization
@Html.AntiForgeryToken()
@model ElectronicsShop2.Pages.Products.ShowProductsModel
@*@{
    Model.OnPostGetAjax("0");
}*@

<br>
<h2>List OF Products</h2>

<div class="card-columns">

   <button class="btn btn-primary" onclick="Filter(this)" value = "1">TV</button> <button  onclick="Filter(this)" class="btn btn-danger" value = "2">Laptop</button> <button class="btn btn-dark"  onclick="Filter(this)" value = "3">SoundSystem</button>
    @foreach (var item in Model.ListProducts)
    {

        <div class="card">
            <img class="card-img-top" src="SamTv.jpg" alt="Card image cap">
            <div class="card-body">
                <h1>@item.name</h1>
                @* @item.id*@
                
                @if (item.discount != "0")
                {
                    <label>Old Price</label>
                   
                    <h3 style="color: black"; > @item.price</h3> <h4>discount:@item.discount%</h4> 

                    var discount = float.Parse(item.discount, CultureInfo.InvariantCulture.NumberFormat);
                    var price = float.Parse(item.price, CultureInfo.InvariantCulture.NumberFormat);
                    var newprice = price-(price * (discount / 100));
                    <label>New Price</label>
                    <h2 style="color: red"; >@newprice</h2>

                }
                else
                {
                    <label>Price</label>
                    <h2 style="color: #000000"; >@item.price</h2>
                    
                }
                   
                <h4 style="color: rgb(0, 90, 202)"; > @item.description</h4>
                @if (@item.type == "1")
                {
                    <h2 style="color: rgb(0, 255, 55)"; >TV</h2>
                }else if (@item.type == "2")
                {
                    <h2 style="color: rgb(0, 255, 55)"; >Laptop</h2>
                }
                else
                {
                    <h2 style="color: rgb(0, 255, 55)"; >Sound System</h2>
                }
              
                @*@item.quantity
                @item.created_at*@
                <a class="btn btn-primary btn-sm" href="/Products/Order?id=@item.id">Order</a>
            </div>
        </div>
        <br/>
       
                                                                                         
         
        

        
    }
   
</div>


@section Scripts
{
    
    <script type="text/javascript">
        function Filter(input){
            $.ajax({
                type: "POST",
                url: "/Products/ShowProducts?handler=GetAjax",
                data:{"name": input.value},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (msg) {
                  
                    console.log(msg);
                   
                }
            });
        }
        
    </script>
}

